.input {
	border: none;
	background: none;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-family: 'Source Sans 3', sans-serif;
	width: 100%;
}

.invalid {
	border: 1px solid red;
	background-color: rgb(44, 5, 5);
}

.title {
	font-size: 32px;
	line-height: 40px;
}

.date {
	font-size: 14px;
	line-height: 18px;
}

.tag {
	font-size: 14px;
	line-height: 18px;
}