.input {
	font-family: var(--font-family);
	background-color: transparent;
	border: none;
}

.invalid {
	border: 1px solid red;
	background-color: rgb(44, 5, 5);
}

.title {
	font-size: 32px;
	line-height: 40px;
}

.date {
	font-size: 14px;
	line-height: 18px;
	margin-top: 30px;
}

.tag {
	font-size: 14px;
	line-height: 18px;
}