.journal-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.journal-form__row {
	display: flex;
	align-items: center;
	width: 100%;
}

.journal-form__label {
	display: flex;
	align-items: center;
	gap: 20px;
	min-width: 150px;
}

.invalid {
	border: 1px solid red;
	background-color: rgb(44, 5, 5);
}

.text {
	font-size: 16px;
	line-height: 28px;
	flex: auto;
	background-color: transparent;
	border: none;
	font-family: 'Source Sans 3', sans-serif;
}

.delete {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	height: 30px;
	width: 30px;
}

.delete:hover {
	background: rgb(255, 255, 255, 0.05);
	border-radius: 50%;
}
